<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>AngularJS Tutorial</title>
<link rel="stylesheet" href="../vendor/foundation/foundation.min.css">

</head>
<body>
<div ng-app="app">
    <input type="text" ng-model="model.title">
    <input type="text" ng-model="model.content">
    <zippy title="{{model.title}}">
        This is the {{model.content}}
    </zippy>
</div>
<script type="text/javascript" src="../vendor/angularjs/angular.js"></script>
<script type="text/javascript" src="main2.js"></script>
</body>
</html>